{% extends 'base.html' %}

{% block content %}

<div class="container py-5">

    <div class="row justify-content-center">

        <div class="col-lg-8">

            <div class="card shadow-lg border-0">

                <div class="card-header bg-success text-white">

                    <h3 class="mb-0">
                        🚀 Submit Solution
                    </h3>

                </div>

                <div class="card-body">

                    <h4>
                        {{ problem.title }}
                    </h4>

                    <hr>

                    <form method="POST">

                        {% csrf_token %}

                        {{ form.as_p }}

                        <button
                            type="submit"
                            class="btn btn-success">

                            Submit GitHub Link

                        </button>

                    </form>

                </div>

            </div>

        </div>

    </div>

</div>

{% endblock %}