body{

background:#0f172a;

color:white;

}

.card{

background:#1e293b;

border:none;

border-radius:15px;

transition:.3s;

}

.card:hover{

transform:translateY(-6px);

box-shadow:0 20px 40px rgba(0,0,0,.4);

}

.card img{

height:220px;

object-fit:cover;

}

.btn-primary{

border-radius:30px;

}

.search-box{

border-radius:40px;

}

.badge{

font-size:13px;

}